<div class="por flex">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-compare{% if add_classes %} {{ add_classes }}{% endif %}">
    <path d="M1 4.66667L4.66642 5.88889M4.66642 5.88889L1 16.8889C3.16628 18.5186 6.16802 18.5186 8.3343 16.8889M4.66642 5.88889L8.33292 16.8889M4.66642 5.88889L11.9993 3.44444M19.3321 5.88889L22.9985 4.66667M19.3321 5.88889L15.6657 16.8889C17.832 18.5186 20.8337 18.5186 23 16.8889M19.3321 5.88889L22.9986 16.8889M19.3321 5.88889L11.9993 3.44444M11.9993 1V3.44444M11.9993 23V3.44444M11.9993 23H8.33285M11.9993 23H15.6657" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  
  <div class="flex justify-center align-center header__count-bubble font-body-semi-bold">
    <span aria-hidden="true" class="compare-count-bubble flex justify-center align-center">0</span>
  </div>
</div>