<div class="countdown__timer flex">  
  <div class="countdown__part countdown__days center">
    <span class="countdown__part__value countdown__part__value--in-banner countdown__days__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--in-banner font-body-semi-bold db countdown__days__label uppercase break">{{ 'general.countdown.days' | t }}</span>
  </div>
  <div class="countdown__part countdown__hours center">
    <span class="countdown__part__value countdown__part__value--in-banner countdown__hours__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--in-banner font-body-semi-bold db countdown__hours__label uppercase break">{{ 'general.countdown.hours' | t }}</span>
  </div>
  <div class="countdown__part countdown__minutes center">
    <span class="countdown__part__value countdown__part__value--in-banner countdown__minutes__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--in-banner font-body-semi-bold db countdown__minutes__label uppercase break">{{ 'general.countdown.minutes' | t }}</span>
  </div>
  <div class="countdown__part countdown__seconds center">
    <span class="countdown__part__value countdown__part__value--in-banner countdown__seconds__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--in-banner font-body-semi-bold db countdown__seconds__label uppercase break">{{ 'general.countdown.seconds' | t }}</span>
  </div>
</div>