<div class="countdown__timer-simple flex flex-wrap align-center">  
  <div class="countdown__part countdown__part--simple flex flex-column justify-center countdown__days center">
    <span class="countdown__part__value countdown__part__value--simple countdown__days__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--simple font-body-semi-bold countdown__days__label uppercase">{{ 'general.countdown.days' | t }}</span>
  </div>
  <div class="countdown__sep flex flex-column color-foreground">
    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
      <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
      <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"/>
    </svg>
  </div>
  <div class="countdown__part countdown__part--simple flex flex-column justify-center countdown__hours center">
    <span class="countdown__part__value countdown__part__value--simple countdown__hours__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--simple font-body-semi-bold countdown__hours__label uppercase">{{ 'general.countdown.hours' | t }}</span>
  </div>
  <div class="countdown__sep flex flex-column color-foreground">
    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
      <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
      <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"/>
    </svg>
  </div>
  <div class="countdown__part countdown__part--simple flex flex-column justify-center countdown__minutes center">
    <span class="countdown__part__value countdown__part__value--simple countdown__minutes__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--simple font-body-semi-bold countdown__minutes__label uppercase">{{ 'general.countdown.minutes' | t }}</span>
  </div>
  <div class="countdown__sep flex flex-column color-foreground">
    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
      <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
      <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"/>
    </svg>
  </div>
  <div class="countdown__part countdown__part--simple flex flex-column justify-center countdown__seconds center">
    <span class="countdown__part__value countdown__part__value--simple countdown__seconds__value flex justify-center align-center h2 font-heading-extra-bold">{%- if use_design_mode -%}XX{%- endif -%}</span>
    <span class="countdown__text countdown__text--simple font-body-semi-bold countdown__seconds__label uppercase">{{ 'general.countdown.seconds' | t }}</span>
  </div>
</div>