{%- unless filter_type == 'horizontal' -%}
<span class="facets__summary__plus-minus summary-accordion__plus-minus por">
  <span class="facets__summary__icon-line summary-accordion__icon-line"></span>
  <span class="facets__summary__icon-line summary-accordion__icon-line"></span>
</span>
{%- else -%}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="facets__summary__icon">
  <path d="M12.6667 6L8.00004 10.6667L3.33337 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
{%- endunless -%}