{%- if settings.predictive_search_enabled -%}
  <template id="predictive-search-placeholder-tpl">
    <div class="predictive-search__header">
      <div class="skeleton-box small-margin-bottom">
        <span class="w100 db margin-top-1rem"></span>
      </div>
    </div>
    <div class="predictive-search__products">
      <ul class="list-unstyled predictive-search__item-list flex flex-column">
        <li class="predictive-search__product predictive-search__item por">
          <div class="skeleton-box">
            <span class="media media--square w100 db"></span>
          </div>
          <div class="predictive-search__item__info">
            <div class="skeleton-box small-margin-bottom">
              <span class="w100 db margin-top-1rem"></span>
            </div>
            <div class="skeleton-box">
              <span class="w100 db margin-top-1rem"></span>
            </div>
          </div>
        </li>
        <li class="predictive-search__product predictive-search__item por">
          <div class="skeleton-box">
            <span class="media media--square w100 db"></span>
          </div>
          <div class="predictive-search__item__info">
            <div class="skeleton-box small-margin-bottom">
              <span class="w100 db margin-top-1rem"></span>
            </div>
            <div class="skeleton-box">
              <span class="w100 db margin-top-1rem"></span>
            </div>
          </div>
        </li>
        <li class="predictive-search__product predictive-search__item por">
          <div class="skeleton-box">
            <span class="media media--square w100 db"></span>
          </div>
          <div class="predictive-search__item__info">
            <div class="skeleton-box small-margin-bottom">
              <span class="w100 db margin-top-1rem"></span>
            </div>
            <div class="skeleton-box">
              <span class="w100 db margin-top-1rem"></span>
            </div>
          </div>
        </li>
      </ul>
      <div class="small-margin-top predictive-search__notification">
        <div class="skeleton-box small-margin-bottom">
          <span class="w100 db margin-top-1rem margin-bottom-1rem"></span>
        </div>
      </div>
    </div>
  </template>
{%- endif -%} 