{{ 'price-section.css' | asset_url | stylesheet_tag }}

<div class="price-section">
  <div class="page-width">
    
  </div>
</div>

{% schema %}
  {
  "name": "👾Price Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second Image"
    }
  ],
  "presets": [
    {
      "name": "👾Price Section"
    }
  ]
}
{% endschema %}