{{ 'price-section.css' | asset_url | stylesheet_tag }}

<div class="price-section">
  <div class="page-width">
    
  </div>
</div>

{% schema %}
  {
  "name": "👾Price Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    }
  ],
  "presets": [
    {
      "name": "👾Price Section"
    }
  ]
}
{% endschema %}