{{ 'scrolling-text-section.css' | asset_url | stylesheet_tag }}

<div class="scrolling-text-section">
  <div class="circle-slow circle1"></div>
  <div class="circle-slow circle2"></div>
  <div class="scrolling-text-section__first-text">
    <p>{{ section.settings.section_first_text }}</p>
  </div>
  <div class="scrolling-text-section__second-text">
    <p>{{ section.settings.section_second_text }}</p>
  </div>
</div>

{% schema %}
  {
  "name": "👾Scrolling Text Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    },
    {
      "type": "text",
      "id": "section_first_text",
      "label": "Section First Text"
    },
    {
      "type": "text",
      "id": "section_second_text",
      "label": "Section Second Text"
    }
  ],
  "presets": [
    {
      "name": "👾Scrolling Text Section"
    }
  ]
}
{% endschema %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" async></script>
<script>
  $(document).ready(function() {
    var section = $(".scrolling-text-section");
  
    $(window).on("scroll resize", function() {
      if (isInViewport(section)) {
        section.find(".scrolling-text-section__first-text").animate({opacity: 1, left: "0"}, 500);
        section.find(".scrolling-text-section__second-text").animate({opacity: 1, right: "0"}, 500);
      } else {
        section.find(".scrolling-text-section__first-text").animate({opacity: 0, left: "-100%"}, 500);
        section.find(".scrolling-text-section__second-text").animate({opacity: 0, right: "-100%"}, 500);
      }
    });
  
    function isInViewport($element) {
      var windowHeight = $(window).height(),
          scrollTop = $(window).scrollTop(),
          elementOffsetTop = $element.offset().top,
          elementHeight = $element.outerHeight();
      
      return (scrollTop + windowHeight > elementOffsetTop && scrollTop < elementOffsetTop + elementHeight);
    }
  });
</script>