{{ 'slider-section.css' | asset_url | stylesheet_tag }}


<div class="section-slider-container">
  <div class="page-width">
    <div class="slider-container">
      <div class="section-slider">
      <h2 class="section-slider__title">{{ section.settings.section_title }}</h2>
      <p class="section-slider__text">{{ section.settings.section_text }}</p>
        <div class="my-slick-slider">
          <div style="background-color: #000; height: 200; width: 200px"></div>
          <div style="background-color: #F42727; height: 200; width: 200px"></div>
          <div style="background-color: green; height: 200; width: 200px"></div>
          <div style="background-color: blue; height: 200; width: 200px"></div>
          <div style="background-color: pink; height: 200; width: 200px"></div>
          
        </div>
      </div>
      <button class="section-slider__prev">&#10094;</button>
      <button class="section-slider__next">&#10095;</button>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "👾Slider Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt_tag",
          "label": "Alt tag"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "👾Slider Section"
    }
  ]
}
{% endschema %}


<script>
  $(document).ready(function(){
  $('.my-slick-slider').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: true,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: true,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
});
</script>