{{ 'slider-section.css' | asset_url | stylesheet_tag }}


<div class="section-container">
  <div class="page-width">
    <div class="section-slider-container">
      <div class="section-slider">
          {% for image in section.settings.slider_images %}
              <div class="section-slider__slide">
                <img src="{{ image | img_url: 'original' }}" width="" height="" alt="{% cycle section.settings.alt_tags split:',' %}">
              </div>
          {% endfor %}
      </div>
      <button class="section-slider__prev">&#10094;</button>
      <button class="section-slider__next">&#10095;</button>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "👾Slider Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "slider_images",
      "label": "Slider Images",
      "info": "Add images for the slider."
    },
    {
      "type": "text",
      "id": "alt_tags",
      "label": "Alt Tags",
      "info": "Add alt tags for each image, separated by commas."
    }
  ],
  "presets": [
    {
      "name": "👾Slider Section"
    }
  ]
}
{% endschema %}