{{ 'why-trust-me.css' | asset_url | stylesheet_tag }}

<div>
  <div class="page-width">
    <div class="about-me">
      <div class="why-should-you-trust-me">
        <div>
          <h2 class="why-should-you-trust-me__title">Why you should trust me:</h2>
        </div>
        <div class="why-should-you-trust-me__features">
          <div class="why-should-you-trust-me__features-container">
            <div class="why-should-you-trust-me__features-item">
              <p>Best training</p>
              <p>Dis parturient montes nascetur ridiculus mus mauris. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Elementum nisi quis eleifend quam.</p>
            </div>
            <div class="why-should-you-trust-me__features-item">
            </div>
          </div>
          <div class="why-should-you-trust-me__features-container">
            <div class="why-should-you-trust-me__features-item">
            </div>
            <div class="why-should-you-trust-me__features-item">
            </div>
          </div>
          <div class="why-should-you-trust-me__features-container">
            <div class="why-should-you-trust-me__features-item">
            </div>
            <div class="why-should-you-trust-me__features-item">
            </div>
          </div>
          <div class="why-should-you-trust-me__features-container">
            <div class="why-should-you-trust-me__features-item">
            </div>
            <div class="why-should-you-trust-me__features-item">
            </div>
          </div>
        </div>
      </div>
      <div class="about-the-creator">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}