.about-our-programs {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.about-our-programs-image {
  position: relative;
  flex: none;
  width: 40%;
}

.about-our-programs-image__image-container img {
  width: 100%;
  border-radius: 32px;
}

.about-our-programs-image-numbers {
  position: absolute;
  width: 92px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 16px;
}

.about-our-programs-image-numbers.first-number {
  top: -35px;
  right: 28px;
}

.about-our-programs-image-numbers.second-number {
  bottom: 47px;
  left: -24px;
}

.about-our-programs-image-numbers p {
  line-height: 1;
  margin: 0;
}

.about-our-programs-image-numbers__title {
  font-family: var(--font-heading-family);
  font-size: 32px;
  font-weight: 600;
}

.about-our-programs-image-numbers__text {
  font-size: 14px;
}

.about-our-programs-info p, .about-our-programs-info h2 {
  margin: 0;
}

.about-our-programs-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.about-our-programs-info button {
  border: none; 
  color: #000;
  padding: 20px 40px!important;
  font-size: 20px;
  border-radius: 16px;
}

.about-our-programs-info button:hover, .about-our-programs-info button:focus {
  color: #000!important;
}