.columns-with-images-section h3, .columns-with-images-section p, .columns-with-images-section h2 {
  margin: 0;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-bottom: 40px;
}

.section-content p {
  font-size: 16px;
  line-height: 24px;
  opacity: 80%;
}

.columns-with-images {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.column-with-image {
  overflow:hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;

  border-radius: 16px;
  border: 1px solid rgba(235, 235, 235, 0.20);
  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
}

.column-with-image_text-block {
  display: flex;
  width: 300px;
  min-height: 140px;
  padding: 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.column-with-image img {
  width: 300px;
  height: 240px;
  object-fit: cover;
}

.column-with-image_text-block h3 {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.column-with-image_text-block p {
  color: #EBEBEB;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 80%;
}

.page-width {
  position: relative;
}

.columns-with-images .column-with-image_wrapper {
  position: relative;
}

.columns-with-images .column-with-image_wrapper:before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  z-index: 10;
  position: absolute;
  left: 130px;
  top: -22px;
  font-family: var(--font-heading-family);
  font-weight: 500;
  font-size: 20px;
  color: #000;
  border-radius: 50%;
  background-color: #C6F33F;
}

.columns-with-images .column-with-image_wrapper:first-of-type:before {
  content: '01';
}

.columns-with-images .column-with-image_wrapper:nth-of-type(2):before {
  content: '02';
}

.columns-with-images .column-with-image_wrapper:nth-of-type(3):before {
  content: '03';
}

.columns-with-images .column-with-image_wrapper:nth-of-type(4):before {
  content: '04';
}