.tabs__title-list-wrapper {
	border-bottom: 0.1rem solid rgb(var(--color-foreground), 0.05);
}

.tabs__item-label {
  cursor: pointer;
	font-size: 1.6rem;
}

.tabs__item-label:hover {
	opacity: 1;
}

.tabs__title-list::-webkit-scrollbar {
	display: none;
}

@media(min-width: 750px) {
	.tabs__item-label {
		font-size: 1.8rem;
	}
}