input[type=checkbox].virtual-checkbox__checkbox {
  position: absolute;
  top: 0.4rem;
  inset-inline-start: 0.1rem;
  width: 1.4rem;
  height: 1.4rem;
}

.virtual-checkbox__checkbox {
  z-index: -1;
}

.virtual-checkbox__label:before {
  content: "";
  border-radius: 0.4rem;
  position: absolute;
  background: rgb(var(--color-background));
  border: 0.1rem solid rgb(var(--color-foreground), 0.3);
  width: 1.6rem;
  height: 1.6rem;
  top: 0.3rem;
  inset-inline-start: 0;
  box-shadow: 0px 1px 2px 0px rgb(var(--color-foreground), 0.07);
}

.virtual-checkbox__label {
  padding-inline-start: 2.3rem;
}

.virtual-checkbox__icon-checkmark {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 0.3rem;
  z-index: 5;
  top: 0.7rem;
}

.virtual-checkbox__checkbox:checked + .virtual-checkbox__label:before {
  box-shadow: none;
  background: rgb(var(--color-button));
  border-color: rgb(var(--color-button));
}

.virtual-checkbox__checkbox:checked + label .icon-checkmark {
  visibility: visible;
  color: rgb(var(--color-button-text));
}