.contact-us-section-container {
  padding: 80px 60px;
}

.contact-us-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 580px;
  border-radius: 32px;
  display: flex;
  align-items: center;
}

.contact-us-section .page-width {
  flex: none;
}

.contact-us-flex-container {
  display: flex;
  align-items: center;
  gap: 186px;
}

.contact-us-section h2 {
  margin: 0 0 32px;
}

.contact-us-section h2 {
  margin: 0;
}