.contact-us-section-container {
  padding: 80px 60px;
}

.contact-us-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 580px;
  border-radius: 32px;
}

.contact-us-section h2 {
  margin: 0 0 32px;
}

.contact-us-section h2 {
  margin: 0;
}