.contact-us-section-container {
  padding: 80px 60px;
}

.contact-us-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
  height: 580px;
  border-radius: 32px;
}