.faq-accordeon-section {
  padding: 80px 0;
}

.faq-accordeon-section__title {
  text-align: center;
  margin: 0 0 80px;
}

.faq-accordeon-section-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-question { 
  font-size: 28px;
  margin: 0;
}

.faq-answer {
  display: none;
  margin: 24px 0 0;
  opacity: 0.8;
}

.faq-accordeon-section-items__item {
  position: relative;
  padding: 24px;

  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 16px;
}

.faq-toggle {
  cursor: pointer;
  display: block!important;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.faq-toggle:before {
  content: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/icon-plus.svg?v=1715239722');
  width: 24px;
  height: 24px;
  line-height: 1;
}

.faq-toggle.open:before {
  content: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/icon-minus.svg?v=1715238869');
}