.section-container:has(.program-demo-section) {
  padding: 120px 0 80px;
  background-color: #000;
  position: relative;
}

.section-container:has(.program-demo-section)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom right, white 49.5%, black 50%);
}

.program-demo-section {
  padding: 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;

  background-image: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/overhead-gym-photo.webp?v=1715202969'), url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/whats-included-overhead-mobility-min.webp?v=1714220613');
  background-size: 72px, 120px;
  background-repeat: no-repeat, no-repeat;
  background-position: left 20% bottom 5%, top -60px right 7%;
}

.program-demo-section:after {
  content: '';
  position: absolute;
  width: 324px;
  height: 324px;
  z-index: 6;
  bottom: 0;
  right: 0;

  background-image: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/gym-bottle-2.webp?v=1715201814');
  background-size: 324px;
  background-repeat: no-repeat;
}

.program-demo-section:before {
  content: '';
  position: absolute;
  width: 354px;
  height: 354px;
  z-index: 6;
  top: 0;
  left: 5%;

  background-image: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/dumbbell-2.webp?v=1715201814');
  background-size: 354px;
  background-repeat: no-repeat;
  transform: rotate(-32deg);
}

.section-container:has(.program-demo-section):after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 270px;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.program-demo-section__title, .program-demo-section__text {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.program-demo-section__title {
  margin: 0 0 48px;
}

.program-demo-section__text {
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}

.program-demo-section__badge {
  position: relative;
  z-index: 3;
  margin-top: -7px;
  margin-bottom: 80px;
  padding: 16px 24px;
  width: 161px;
  transform: rotate(-4.61deg);
  background-color: rgba(68, 68, 69, 1);
  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 16px;
}

.program-demo-section__badge p {
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.program-demo-section__button {
  padding: 20px 40px;
  font-size: 20px;
  font-family: var(--font-heading-family);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 16px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s ease-in-out;
}

.program-demo-section__button:hover, .program-demo-section__button:focus {
  background-color: #fff!important;
  transition: background-color 0.5s ease-in-out;
}