.section-container:has(.program-demo-section) {
  padding: 200px 0 80px;
  background-color: #000;
  position: relative;
}

.section-container:has(.program-demo-section)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom right, white 49.5%, black 50%);
}

.section-container:has(.program-demo-section):after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 250px;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.program-demo-section__title, .program-demo-section__text {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.program-demo-section__title {
  margin: 0 0 48px;
}

.program-demo-section__text {
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 155px;
}

.program-demo-section__badge {
  position: absolute;
}