.scrolling-text-section {
  background-color: #fff;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
}

.scrolling-text-section p {
  font-family: var(--font-heading-family);
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin: 0;
}

.scrolling-text-section__first-text p {
  color: #000;
}

.scrolling-text-section__second-text p {
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.scrolling-text-section__first-text,
.scrolling-text-section__second-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  white-space: nowrap;
}

.scrolling-text-section__first-text {
  left: -100%;
}

.scrolling-text-section__second-text {
  right: -100%;
}

.scrolling-text-section.show-text .scrolling-text-section__first-text,
.scrolling-text-section.show-text .scrolling-text-section__second-text {
  transform: translateY(-50%);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}