.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
  margin-top: 0;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.field--full {
  grid-column: 1/3;
}

.contact__address-wrapper {
  padding: 3.4rem 2.4rem;
  gap: 2.4rem;
}

.contact__address-list {
  gap: 1rem;
  border-radius: 6px;
  padding: 3rem;
  background: rgb(var(--color-background));
  box-shadow: 0px 1px 2px 0px rgb(var(--color-foreground), 0.07);
}

.contact__address-item {
  gap: 0.8rem;
}

.contact__address-list__line {
  margin: 1.6rem 0;
}

.contact__button {
  margin-top: 3rem;
}

.contact__opening-hour__item {
  gap: 0.5rem;
}

.contact__form-with-address {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact__list-option {
  gap: 1.5rem;
}

.contact__address-wrapper > * + .contact__address-wrapper__title {
  padding-top: 1.6rem;
}

.contact__checkbox-large-label {
  margin-top: -0.15rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
  
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .contact__form-with-address {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .contact__fields--with-address {
    display: block;
  }

  .contact__button {
    margin-top: 4rem;
  }

  .contact__address-wrapper {
    border-radius: 1.6rem;
  }
}

@media screen and (min-width: 990px) and (max-width: 1365px) {
  .contact__form-with-address + .contact__address-wrapper {
    width: calc(39.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }
}

@media screen and (min-width: 1366px) {
  .contact__form-with-address {
    padding-inline-end: 10rem;
  }

  .contact__address-wrapper {
    padding: 4rem;
  }
}