.test-our-program {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 80px 0;
}

.test-our-program-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 644px;
  padding: 60px;
  gap: 40px;

  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 32px;
  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
}

.test-our-program-info p, .test-our-program-info h2 {
  margin: 0;
}

.test-our-program-info__button {
  padding: 20px 40px;
  display: inline-block;
  font-size: 24px;
  font-family: var(--font-heading-family);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 16px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s ease-in-out;
}

.test-our-program-info__button:hover, .test-our-program-info__button:focus {
  background-color: #fff!important;
  transition: background-color 0.5s ease-in-out;
}

.test-our-program-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 32px;
}

.test-our-program-images__conatiner {
  width: 368px;
  height: 306px;
  overflow: hidden;
  position: relative;
  border-radius: 32px;
}

.test-our-program-images .test-our-program-images__conatiner:first-of-type img {
  width: 368px;
  height: auto;
  position: absolute;
  top: 0;
}

.test-our-program-images .test-our-program-images__conatiner:last-of-type img {
  width: 368px;
  height: auto;
  position: absolute;
  bottom: 0;
}