.whats-included p, .whats-included h2 {
  margin: 0;
}

.whats-included {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 88px;
  padding: 80px 0;
}

.whats-included-numbers {
  width: 50%;
}

.whats-included-info {
  width: 50%;
}

.whats-included-numbers-summary__image-container {
  padding: 44px 24px 0;
}

.whats-included-numbers-summary__image {
  width: 100%;
  position: relative;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}