.whats-included p, .whats-included h2 {
  margin: 0;
}

.whats-included {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 88px;
  padding: 80px 0;
}

.whats-included-numbers {
  width: 50%;
}

.whats-included-info {
  width: 50%;
}

.whats-included-numbers-summary__image-container {
  padding: 44px 24px 0;
}

.whats-included-numbers-summary__image {
  width: 100%;
  position: relative;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.whats-included-numbers-details {
  padding: 24px;
  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 16px;
  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
}
