.whats-included p {
  margin: 0;
}

.whats-included {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 88px;
  padding: 80px 0;
}

.whats-included-numbers {
  width: 50%;
}

.whats-included-info {
  width: 50%;
}

.whats-included-numbers-summary {
  position: relative;
}

.whats-included-numbers-summary__image-container {
  padding: 44px 24px 0;
}

.whats-included-numbers-summary__image {
  width: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.whats-included-numbers-summary__text {
  position: absolute;
  padding: 8px 12px;
  border-radius: 16px;
  border: 1px solid rgba(235, 235, 235, 0.20);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 217px;
  min-width: 108px;
}

.whats-included-numbers-summary__text-title {
  font-family: var(--font-heading-family);
  font-size: 32px;
  font-weight: 600;
}

.whats-included-numbers-summary__text-desc {
  font-size: 14px;
  text-align: center;
}


.whats-included-numbers-summary .whats-included-numbers-summary__text:nth-of-type(2) {
  top: 0px;
  left: 10%;
}

.whats-included-numbers-summary .whats-included-numbers-summary__text:nth-of-type(3) {
  top: 45%;
  right: 0;
}

.whats-included-numbers-summary .whats-included-numbers-summary__text:nth-of-type(4) {
  top: 52%;
  left: 0;
}

.whats-included-numbers-details {
  margin-top: -140px;
  padding: 24px;
  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 16px;
  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
}

.whats-included-numbers-details__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.whats-included-numbers-details .whats-included-numbers-details__group:first-child {
  margin-bottom: 32px;
}

.whats-included-numbers-details__item {
  display: flex;
  gap: 12px;
}

.whats-included-numbers-details__item-icon-container {
  padding: 6px;
  border-radius: 8px;
  height: 32px;
}

.whats-included-numbers-details__item-title {
  font-family: var(--font-heading-family);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 4px;
}

.whats-included-numbers-details__item-text {
  font-size: 14px;
  opacity: 0.8;
}

.whats-included-info__title {
  margin-bottom: 40px;
}

.whats-included-info__text {
  opacity: 0.8;
  margin-bottom: 40px!important;
}

.whats-included-info__button {
  font-family: var(--font-heading-family);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  padding: 20px 40px;
  border-radius: 16px;
}

.whats-included-info__button:hover, .whats-included-info__button:focus {
  color: #fff!important;
  border-color: #fff!important;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  z-index: 1000;
}

#popup img {
  border-radius: 32px;
  max-height: 85vh;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 999;
}

.close-popup {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  z-index: 1001;
}