.about-me__container {
  padding: 80px 20px;
}

.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 32px;
  border: 1px solid rgba(235, 235, 235, 0.20);
  position: relative;
  z-index: 1000;
}

.why-should-you-trust-me {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 80px;
}

.why-should-you-trust-me > div:first-of-type {
  flex: none;
  width: 45%;
}

.why-should-you-trust-me h2 {
  margin: 0;
  padding-right: 60px;
}

.why-should-you-trust-me__features {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.why-should-you-trust-me__features-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.why-should-you-trust-me__features-item {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.why-should-you-trust-me__features-item svg {
  flex: none;
}

.why-should-you-trust-me__features-item div p:first-of-type {
  margin: 0 0 4px;
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.why-should-you-trust-me__features-item div p:last-of-type {
  margin: 0;
  opacity: 0.8;
  font-size: 14px;
}

.about-the-creator {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.about-the-creator h2 {
  margin: 0;
  height: 200px;
  padding-right: 150px;
}

.about-the-creator h3, .about-the-creator p {
  margin: 0;
}

.about-the-creator > div:first-of-type img {
  width: auto;
  height: 400px;
  border-radius: 32px;
}

.about-the-creator__image-container {
  display: flex;
  justify-content: end;
}

.about-the-creator > div:first-of-type {
  flex: none;
  width: 45%;
}

.about-the-creator__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px;
  height: 600px;

  border: 1px solid rgba(235, 235, 235, 0.20);
  border-radius: 32px;
  background: rgba(235, 235, 235, 0.20);
  backdrop-filter: blur(20px);
}

.about-the-creator__info-text-container p:not(:last-of-type) {
  margin-bottom: 24px;
}

.about-the-creator__info-badges {
  display: flex;
  gap: 16px;
  color: #000;
  text-transform: uppercase;
}

.about-the-creator__info-badges div {
  padding: 14px 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  border-radius: 16px;
}

.about-the-creator__info-badges > div:before {
  content: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/laurel-left.png?v=1714626430');
  display: inline-block;
  background-size: cover;
  position: absolute;
  left: 15px;
  top: 12px;
}

.about-the-creator__info-badges > div:after {
  content: url('https://cdn.shopify.com/s/files/1/0660/3207/4988/files/laurel-left.png?v=1714626430');
  display: inline-block;
  background-size: cover;
  position: absolute;
  right: 15px;
  top: 12px;
  transform: scaleX(-1);
}

.about-the-creator__info-badges div p:first-of-type {
  font-family: var(--font-heading-family);
  font-weight: bold;
  font-size: 20px;
}

.about-the-creator__info-badges div p:last-of-type {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .about-me__container {
    padding: 30px 6px;
  }

  .about-me {
    padding: 40px 38px;
  }

  .why-should-you-trust-me {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }

  .why-should-you-trust-me > div:first-of-type {
    flex: flex;
    width: 100%;
  }

  .why-should-you-trust-me h2 {
    padding-right: 0;
  }

  .why-should-you-trust-me__features {
    gap: 16px;
  }

  .why-should-you-trust-me__features-container {
    flex-direction: column;
    gap: 16px;
  }

  .why-should-you-trust-me__features-item div p:first-of-type {
    font-size: 20px;
  }

  .about-the-creator {
    flex-direction: column;
    gap: 20px;
  }

  .about-the-creator h2 {
    margin: 0 0 40px;
    height: auto;
    padding-right: 0;
  }
}