.about-me__container {
  padding: 80px 20px;
}

.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 32px;
  border: 1px solid rgba(235, 235, 235, 0.20);
}

.why-should-you-trust-me {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.why-should-you-trust-me > div:first-of-type {
  width: 50%;
}

.why-should-you-trust-me h2 {
  margin: 0;
}

.why-should-you-trust-me__features-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.why-should-you-trust-me__features-item {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.why-should-you-trust-me__features-item svg {
  flex: none;
}

.why-should-you-trust-me__features-item div p:first-of-type {
  margin: 0 0 4px;
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

