.about-me__container {
  padding: 80px 20px;
}

.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 32px;
  border: 1px solid rgba(235, 235, 235, 0.20);
}

.why-should-you-trust-me {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.why-should-you-trust-me > div {
  width: 30%;
}

.why-should-you-trust-me h2 {
  margin: 0;
}

.why-should-you-trust-me__features-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}